{
    "printWidth": 100,
    "htmlWhitespaceSensitivity": "ignore",
    "vueIndentScriptAndStyle": false,
    "singleAttributePerLine": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false
}
