// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@import url("./reset.css");

html,
body {
    width: 100%;
    height: 100%;
    font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica,
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}
#app {
    width: 100%;
    height: 100%;
}
.m-b-16 {
    margin-bottom: 16px;
}
.m-t-16 {
    margin-top: 16px;
}
.m-l-16 {
    margin-left: 16px;
}
.m-r-16 {
    margin-right: 16px;
}
.p-t-16 {
    padding-top: 16px;
}
.p-b-16 {
    padding-bottom: 16px;
}
.p-l-16 {
    padding-left: 16px;
}
.p-r-16 {
    padding-right: 16px;
}

#nprogress {
    pointer-events: none;
    .bar {
        background: rgb(13, 148, 136);
        opacity: 0.75;
        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }
}
