// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@import url("./reset.scss");

html,
body {
    width: 100%;
    height: 100%;
    font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica,
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}
#app {
    width: 100%;
    height: 100%;
}
.m-b-16 {
    margin-bottom: 16px;
}
.m-t-16 {
    margin-top: 16px;
}
.m-l-16 {
    margin-left: 16px;
}
.m-r-16 {
    margin-right: 16px;
}
.p-t-16 {
    padding-top: 16px;
}
.p-b-16 {
    padding-bottom: 16px;
}
.p-l-16 {
    padding-left: 16px;
}
.p-r-16 {
    padding-right: 16px;
}
.flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.flex-1 {
    flex: 1;
}
#nprogress {
    pointer-events: none;
    .bar {
        background: rgb(13, 148, 136);
        opacity: 0.75;
        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }
}
.main-container {
    padding: 16px 24px;
    padding-top: 0;
    background-color: #ffffff;
    border-radius: 10px;
    .main-header {
        display: flex;
        align-items: center;
        height: 76px;
        border-bottom: 1px solid #ebeef5;
        .title {
            flex: 1;
            font-size: 20px;
            font-weight: 600;
            color: #000000;
        }
        .des {
            font-size: 14px;
            font-weight: 400;
        }
    }
    .main-container-wrapper {
        /* 80是顶部导航栏高度，30是面包屑高度（包含margin），32是page-main盒子的上下内边距之和，16是main-container盒子的上下内边距之和 */
        min-height: calc(100vh - 80px - 30px - 32px - 16px);
    }
    .detail-content {
        display: flex;
        justify-content: center;
    }
}
/* form表单中 input的宽度 */
$widths: 200, 400, 480, 800;

@each $width in $widths {
    .w#{$width} .el-input {
        width: #{$width}px;
    }
}
$my-widths: 108, 200, 220, 400, 432, 640, 800;
@each $width in $my-widths {
    .w#{$width} {
        width: #{$width}px;
    }
}
.button-form-item {
    .el-form-item__content {
        display: flex;
        justify-content: center;
    }
}
.flex-start {
    justify-content: flex-start !important;
}
.justify-content-center {
    justify-content: center !important;
}
.flex-align-center {
    align-items: center;
}
.table-filter {
    display: flex;
    margin-top: 8px;
    padding: 12px 0;
    &_button {
        display: flex;
        justify-content: flex-start;
        flex-shrink: 0;
        margin-right: 12px;
        margin-top: 4px;
        margin-bottom: 4px;
        &.flex-start {
            margin-left: 12px;
            margin-right: 0;
        }
    }
    &_select {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        .el-select,
        .el-input {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
}
.cursor-pointer {
    cursor: pointer;
}
.table-theme-text-button {
    cursor: pointer;
    color: var(--el-color-primary);
}
.my-pagination {
    margin-top: 20px;
    justify-content: flex-end;
}
.my-year-dropdown {
    --el-text-color-regular: #000000;
    --el-font-size-base: 16px;
    font-weight: 600;
    .el-dropdown-link {
        cursor: pointer;
    }
}
.flex-start {
    .el-select,
    .el-input {
        margin-right: 12px;
        + .el-input,
        + .el-select {
            margin-left: 0;
        }
    }
}
.no-padding-bottom-dialog {
    padding-bottom: 0 !important;
}
.no-padding-dialog-body {
    padding: 0 !important;
}
.assess-tabs {
    --el-tabs-header-height: 52px;
    --el-fill-color-light: #f6f9fb;
    --el-text-color-secondary: #000000;
}
.assess-project-table {
    --el-table-header-bg-color: #ffffff;
    &.el-table--border {
        th {
            border-right: none;
        }
        .el-table__header {
            min-height: 54px;
        }
        .el-table__inner-wrapper {
            &::before,
            &::after {
                height: 0;
            }
        }
        &::before,
        &::after {
            width: 0;
        }
    }
}
.triangle-border {
    width: 0;
    height: 0;
    /* base = 100px -> left/right borders 50px each */
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    /* height ≈ 86.6025px for equilateral */
    border-bottom: 12px solid #000000;
}
.custom-dialog {
    &.el-dialog {
        padding-bottom: 0;
    }
    .dialog-btn-box {
        text-align: right;
        margin-top: 48px;
    }
}
