// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@import url("./reset.scss");

html,
body {
    width: 100%;
    height: 100%;
    font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC",
        "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}
#app {
    width: 100%;
    height: 100%;
}
.m-b-16 {
    margin-bottom: 16px;
}
.m-t-16 {
    margin-top: 16px;
}
.m-l-16 {
    margin-left: 16px;
}
.m-r-16 {
    margin-right: 16px;
}
.p-t-16 {
    padding-top: 16px;
}
.p-b-16 {
    padding-bottom: 16px;
}
.p-l-16 {
    padding-left: 16px;
}
.p-r-16 {
    padding-right: 16px;
}
.flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.flex-1 {
    flex: 1;
}
#nprogress {
    pointer-events: none;
    .bar {
        background: rgb(13, 148, 136);
        opacity: 0.75;
        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }
}
.main-container {
    padding: 16px 24px 32px;
    padding-top: 0;
    background-color: #ffffff;
    border-radius: 10px;
    .main-header {
        display: flex;
        align-items: center;
        height: 76px;
        border-bottom: 1px solid #ebeef5;
        .title {
            flex: 1;
            font-size: 20px;
            font-weight: 600;
            color: #000000;
        }
        .des {
            font-size: 14px;
            font-weight: 400;
        }
    }
    .main-container-wrapper {
        /* 80是顶部导航栏高度，36是面包屑高度（包含margin），32是page-main盒子的上下内边距之和，16是main-container盒子的上下内边距之和 */
        // min-height: calc(100vh - 80px - 36px - 32px - 16px);
        min-height: calc(var(--my-calc-height) - 32px);
    }
    .detail-content {
        display: flex;
        justify-content: center;
    }
}
.common-layout {
    --my-page-header-height: 80px;
    height: 100%;
    background: #edf2f8;
    .el-container.is-vertical {
        height: 100%;
    }
    .page-header {
        display: flex;
        height: var(--my-page-header-height);
        padding: 0 24px;
        .logo {
            display: flex;
            align-items: center;
            flex: 1;
            font-size: 18px;
            font-weight: 700;
            font-family: "Times New Roman", Times, serif;
            // font-style: italic;
            color: var(--el-color-primary);
        }
        .right {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            .download {
                position: relative;
            }
            .icon {
                .iconfont {
                    color: #000000;
                    cursor: pointer;
                    font-size: 20px;
                }
                + .icon {
                    margin-left: 24px;
                }
            }
        }
    }
    .page-container {
        height: calc(100% - var(--my-page-header-height));
        .layout-aside {
            width: 240px;
            height: 100%;
            padding: 0 16px;
        }
        .page-main {
            --el-main-padding: 16px;
            display: flex;
            flex-direction: column;
            height: 100%;
            background: #f6f9fb;
            border-radius: 16px 0 0 0;
        }
    }
}
#download-target {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -4px;
    right: -16px;
    height: 16px;
    width: 32px;
}
/* form表单中 input的宽度 */
$widths: 200, 400, 480, 800;

@each $width in $widths {
    .w#{$width} .el-input {
        width: #{$width}px;
    }
}
$my-widths: 108, 200, 220, 300, 400, 432, 640, 800;
@each $width in $my-widths {
    .w#{$width} {
        width: #{$width}px;
    }
}
.button-form-item {
    .el-form-item__content {
        display: flex;
        justify-content: center;
    }
}
.flex-start {
    justify-content: flex-start !important;
}
.justify-content-center {
    width: 100%;
    justify-content: center !important;
}
.flex-align-center {
    align-items: center;
}
.table-filter {
    display: flex;
    margin-top: 8px;
    padding: 12px 0;
    &_button {
        display: flex;
        justify-content: flex-start;
        flex-shrink: 0;
        margin-right: 12px;
        margin-top: 4px;
        margin-bottom: 4px;
        &.flex-start {
            margin-left: 12px;
            margin-right: 0;
        }
    }
    &_select {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        .el-select,
        .el-input {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
}
.cursor-pointer {
    cursor: pointer;
}
.table-theme-text-button {
    cursor: pointer;
    color: var(--el-color-primary);
}
.my-pagination {
    margin-top: 20px;
    justify-content: flex-end;
}
.my-year-dropdown {
    --el-text-color-regular: #000000;
    --el-font-size-base: 16px;
    font-weight: 600;
    .el-dropdown-link {
        cursor: pointer;
    }
}
.flex-start {
    .el-select,
    .el-input {
        margin-right: 12px;
        + .el-input,
        + .el-select {
            margin-left: 0;
        }
    }
}
.no-padding-bottom-dialog {
    padding-bottom: 0 !important;
}
.no-padding-dialog-body {
    padding: 0 !important;
}
.assess-tabs {
    --el-tabs-header-height: 52px;
    --el-fill-color-light: #f6f9fb;
    --el-text-color-secondary: #000000;
    .el-tabs__item {
        font-family: PingFang SC, PingFang SC;
    }
    .el-tabs__nav-next,
    .el-tabs__nav-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 40px;
        .el-icon {
            font-size: 16px;
            width: 32px;
            height: 32px;
            background-color: #ffffff;
            border-radius: 50%;
        }
    }
    .el-tabs__nav-next {
        &::before {
            position: absolute;
            top: 9px;
            right: 0;
            content: "";
            width: 64px;
            height: 32px;
            background: linear-gradient(90deg, rgba(246, 249, 251, 0) 0%, #f6f9fb 100%);
            border-radius: 0px 0px 0px 0px;
        }
    }
    .el-tabs__nav-wrap {
        &.is-scrollable {
            padding: 0 40px;
        }
    }
    &.no-add {
        .el-tabs__new-tab {
            display: none;
        }
    }
}
.assess-project-table {
    --el-table-header-bg-color: #ffffff;
    &.el-table--border {
        th {
            border-right: none;
        }
        .el-table__header {
            min-height: 54px;
        }
        .el-table__inner-wrapper {
            &::before,
            &::after {
                height: 0;
            }
        }
        &::before,
        &::after {
            width: 0;
        }
    }
    &:not(.el-table--border) {
        .el-table__cell {
            border-right: var(--el-table-border);
            &.no-boder-bottom {
                border-bottom: none;
            }
        }
        .el-table__inner-wrapper {
            &::before {
                height: 0;
            }
        }
    }
    thead {
        tr {
            th {
                border-right: none !important;
            }
        }
    }
    tbody {
        tr {
            td {
                &:nth-last-child(1) {
                    border-right: none !important;
                }
            }
            &:nth-last-child(1) {
                td {
                    border-bottom: none !important;
                }
            }
        }
    }
}
.triangle-border {
    width: 0;
    height: 0;
    /* base = 100px -> left/right borders 50px each */
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    /* height ≈ 86.6025px for equilateral */
    border-bottom: 12px solid #000000;
}
.drag-handle {
    cursor: move;
}
.custom-dialog {
    &.el-dialog {
        padding-bottom: 0;
    }
    .dialog-btn-box {
        text-align: right;
        margin-top: 48px;
    }
}
.down-count {
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    padding: 0 4px;
    text-align: center;
    border-radius: 8px;
    font-size: 12px;
    background-color: #ff4b4b;
    color: #ffffff;
}
.dialog-wrapper {
    display: flex;
    align-items: center;
    color: #000000;
}
/* ------------------------------
    模拟 Element Plus table 样式
-------------------------------- */

.custom-table {
    --el-table-border-color: #ebeef5;
    --el-table-border: 1px solid #ebeef5;
    --el-table-text-color: #000000;
    --el-table-header-text-color: var(--el-text-color-secondary);
    --el-table-row-hover-background: var(--el-fill-color-lighter);
    --el-table-header-bg-color: var(--el-fill-color-blank);
    --el-table-bg-color: var(--el-bg-color);

    width: 100%;
    border: var(--el-table-border);
    border-radius: 8px;
    // border-right: none;
    // border-bottom: none;
    color: var(--el-table-text-color);
    font-size: 14px;
    overflow: hidden;
    .custom-other-header {
        display: flex;
        align-items: center;
        height: 52px;
        padding: 0 24px;
        background: #f6f9fb;
    }
}

.custom-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed; /* ⭐ 关键: 让 width 生效 */
}

/* header */
.custom-table .el-table__header th {
    padding: 8px 12px;
    background-color: var(--el-table-header-bg-color);
    color: var(--el-table-header-text-color);
    border-bottom: var(--el-table-border);
    border-right: transparent;
    font-weight: 500;
    text-align: center;
    &:nth-last-child(1) {
        border-right: none;
    }
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
}

/* body */
.custom-table .el-table__body {
    tr {
        &:nth-last-child(1) {
            td {
                border-bottom: none;
            }
        }
    }
    td {
        padding: 8px 12px;
        border-bottom: var(--el-table-border);
        border-right: var(--el-table-border);
        background-color: var(--el-table-bg-color);
        color: var(--el-table-text-color);
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        text-align: center;
        &:nth-last-child(1) {
            border-right: none;
        }
    }
}

/* hover 效果 */
.custom-table .el-table__body tr:hover td {
    background-color: var(--el-table-row-hover-background);
}

.upload-status {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0;
    top: 0;
    .triangle {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 100%, 0 0);
        cursor: pointer;
        z-index: 1;
        background-color: #009f4d;
        .el-icon {
            position: absolute;
            right: 2px;
            top: 4px;
            color: #fff;
        }
    }
}
