$--colors: (
    "primary": (
        "base": #4064d4,
    ),
    "success": (
        "base": #21ba45,
    ),
    "warning": (
        "base": #f2711c,
    ),
    "danger": (
        "base": #db2828,
    ),
    "error": (
        "base": #db2828,
    ),
    "info": (
        "base": #42b8dd,
    ),
);
@forward "element-plus/theme-chalk/src/common/var.scss" with (
    // do not use same name, it will override.
    $colors: $--colors
);
@use "element-plus/theme-chalk/src/index.scss" as *;
@use "./dark.scss";
